<style>
@import url('https://fonts.googleapis.com/css?family=Raleway');
</style>

body {
  font-family: 'Raleway', 'sans-serif';
  margin: 0;
  padding: 0;
}

#id {
  display: flex;
  justify-content: center; }

.litContainer {
  font-size: 25px;
  border: 3px solid red; }

.timer {
  margin: 1em auto;
  width: 500px;
  height: 400px;
  background-color: #DD4814;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Raleway', 'sans-serif';
}

h1 {
  font-size: 2em;
  font-family: 'Raleway', 'sans-serif';
}

.click {
  width:250px;
}

.table {
  width:300px;
}

button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.4em;
  margin: 0 1em;
  padding: 0.5em;
  display: inline-block;
  font-family: 'Raleway', 'sans-serif'
}
